@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  /* --font-Ñ†: var(--font-montserrat, sans-serif); */
}
.kharkiv {
  font-family: var(--font-kharkiv-tone), sans-serif;
}

.test-kharkiv {
  font-family: var(--font-kharkiv-tone) !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat, sans-serif);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #ffffff;
  color: #000;
  @apply font-sans;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
